* {
	font-family: monospace;
	background: black;
	user-select: none;
	font-size: 1.5vw;
	color: #cfcfcf;
}

.errorResponse {
	width: 100%;
	margin: 3% 0%;
	color: red;
}

.userInfo * {
	display: inline-block;
	margin: 1% 0%;
	text-align: center;
	font-size: 2vw;
	color: green;
}

#UserInfo > div {
	text-align: left;
	font-size: 2vw;
}

#UserInfo {
	width: 55vw;
	align: center;
	margin: auto;
}

.userButton {
	display: inline-block;
	font-size: 1.5vw;
	color: #cfcfcf;
	border: 1px groove #cfcfcf;
	padding: 10px;
	margin: 3% 0%;
} .userButton:hover {
	cursor: pointer;
	color: green;
}

.word_container {
	width: 55vw;
	margin: 3%;
	border-width: 1px;
	border-style: solid none solid none;
	border-color: #cfcfcf;
	padding: 10px;
}

.divider {
	width: 55vw;
	height: 1px;
	margin: 3%;
	padding: 0 10px;
	border-width: 1px;
	border-style: solid none none none;
	border-color: #cfcfcf;
}

p {
	text-align: justify;
}

h1 {
	font-size: 4vw;
	text-align: center;
	white-space: nowrap;
	width: 50%;
	padding: 20px;
	border: 3px groove #cfcfcf;
	margin: auto;
}

h3 {
	font-size: 3vw;
	text-align: center;
	white-space: nowrap;
	padding: 10px;
	margin: auto;
	color: green;
}

h4 {
	font-size: 2vw;
	text-align: center;
	font-weight: normal;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	color: green;
}

a {
	text-decoration: none;
} a:hover {
	cursor: pointer;
	color: green;
}

.formContainer {
	border: 2px groove #cfcfcf;
	padding: 10px;
	width: 40%;
}

.formContainer hr {
	width: 80%;
	background-color: #575757;
	height: 3px;
	border: none;
}

.formInput {
	width: 60%;
	font-size: 2vw;
	text-align: center;
	color: #cfcfcf;
	border: 3px groove #cfcfcf;
	padding: 10px;
	margin: 3%;
} .formInput:hover {
	cursor: text;
	color: green;
}

.formButton {
	width: 75%;
	font-size: 2vw;
	color: #cfcfcf;
	border: 3px groove #cfcfcf;
	padding: 10px;
	margin: 3%;
} .formButton:hover {
	cursor: pointer;
	color: green;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.button {
	display: inline-block;
	width: 25%;
	font-size: 2vw;
	color: #cfcfcf;
	border: 3px groove #cfcfcf;
	padding: 10px;
	margin-bottom: 3%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
} .button:hover {
	cursor: pointer;
	color: green;
} .menu a:last-child .button {
	margin: 0;
} .menu button:last-child .button {
	margin: 0;
}